@charset "UTF-8";
/*-------------------------------------------------------------------------------
RESET
-------------------------------------------------------------------------------*/
body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

main, article, aside, figcaption, figure, picture, source,
footer, header, nav, section, details, summary {
	display: block;
}

h1, h2, h3, h4, h5, h6, th, em, strong {
	font-weight: normal;
}

ul, ol {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
}

pre {
	white-space: pre-wrap;
}

svg,
input,
select,
textarea,
label {
	vertical-align: middle;
}

*,
*:before,
*:after {
	word-break: break-all;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* [IE8-] New Tag from HTML5 */
main, article, aside, figcaption, figure,
footer, header, nav, section, details, summary {
	display: block;
}

address {
	font-style: normal;
}

@media all and (orientation: landscape) {
	body, html {
		width: 100%;
	}
}

/*-------------------------------------------------------------------------------
BASE STYLE
-------------------------------------------------------------------------------*/
html {
	width: 100%;
	font-size: 62.5%;
	line-height: 1em;
}

body {
	width: 100%;
	font-family: "Giacomo", sans-serif;
	font-size: 1.3em;
	font-weight: 200;
	color: #333;
	-webkit-text-size-adjust: 100%;
}

.cf:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

img {
	width: 100%;
}

a:link, a:visited {
	text-decoration: none;
	color: #361f0a;
}

a:hover {
	text-decoration: none;
	color: #f4ad16;
}

/*-------------------------------------------------------------------------------
COMMON STYLE
-------------------------------------------------------------------------------*/
.inner1080 {
	width: 1080px;
	margin: 0 auto;
}

.inner1000 {
	width: 1000px;
	margin: 0 auto;
}

/*-------------------------------------------------------------------------------
HEADER STYLE
-------------------------------------------------------------------------------*/
.header {
	padding: 35px 0 20px;
}

.header_inner {
	position: relative;
}

.header_left {
	float: left;
}

.header_left img {
	width: auto;
	height: 50px;
}

.header-logo {
	float: left;
}

.header-desc {
	float: left;
	margin-left: 14px;
}

.header_right {
	float: right;
}

/*-------------------------------------------------------------------------------
Nav STYLE
-------------------------------------------------------------------------------*/
.nav_wrap {
	font-family: serif;
	letter-spacing: .05em;
	margin: 10px auto;
	overflow: hidden;
	border-bottom: solid 1px #2a1907;
}

.topnav ul li {
	float: left;
	padding: 12px 0;
	margin: 0 4% 0 0;
}

.topnav ul li a {
	font-size: 1.1em;
}